.block-product-list__link{
    background-color: #e8e3c7;
    padding: 15px 10px;
    border-radius: 20px;
}
.product-list-item__image-wrapper[data-v-ad1657c2]{
    border-radius:50%;
    height: auto !important;
}

@media screen and (max-width: 920px){
    .block-header__links{
        right: auto;
    }
    .block-header-item__item{
        display: flex !important;
    }
    .block-product-list__link{
        background-color:#e8e3c7;
        padding:10px;
        border-radius:20px;
    }
}


    @media screen and (min-width: 301px) and (max-width: 920px) {
        .block-product-list__content {
            grid-template-columns: repeat(2, 1fr) !important;
            min-width: 300px;
            gap: 10px !important;
        }
        .product-list-item__price-wrapper *,
        .product-list-item__title {
            font-size: 14px !important;
        }
        .product-list-item__button{
            padding: 5px !important;
        }
        .product-list-item__price-wrapper{
            flex-direction: column;
        }
        .product-list-item__price-content{
            justify-content: center;
        }
    }
    @media screen and (max-width: 300px) {
        .block-product-list__content {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }