.block-product-list__link{
    background-color: #e8e3c7;
    padding: 15px 10px !important;
    border-radius: 20px !important;
}
.product-list-item__image-wrapper[data-v-ad1657c2]{
    border-radius:50% !important;
    height: auto !important;
}

@media screen and (max-width: 920px){
    .block-header__links{
        /* right: auto !important; */
        width: 100% !important;

        padding-left: 90px !important;

        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        height: 100vh !important;
        max-height: 100vh !important;
    }
    .block-header-item__item{
        display: flex !important;
    }
    .block-header-item__item[data-qa="navigation-item-товари"]{
        margin-bottom: 20px;
    }
    .block-header-item__dropdown{
        align-items: flex-start !important;
        .block-header-item:not(:last-child){
            margin-bottom: 20px !important;
        }
    }
    .item-content__icon-container-wrapper{
        display: none;
    }
}


    @media screen and (min-width: 301px) and (max-width: 920px) {
        .block-product-list__content {
            grid-template-columns: repeat(2, 1fr) !important;
            min-width: 300px;
            gap: 10px !important;
        }
        .product-list-item__price-wrapper *,
        .product-list-item__title {
            font-size: 14px !important;
        }
        .product-list-item__button{
            padding: 5px !important;
        }
        .product-list-item__price-wrapper{
            flex-direction: column;
        }
        .product-list-item__price-content{
            justify-content: center;
        }
    }
    @media screen and (max-width: 300px) {
        .block-product-list__content {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }