.block-product-list__link{
    background-color: #e8e3c7;
    padding: 15px 10px !important;
    border-radius: 20px !important;
}
.product-list-item__image-wrapper{
    border-radius:50% !important;
    height: auto !important;
}

/* Product page */

    /*image*/

.product-carousel__image-wrapper.product-carousel__image-wrapper--contain{
    justify-content: center !important;
    border-color: transparent !important;
    .product-carousel__main-image{
        --image-border-radius:50% !important;
        max-width: 526px !important;
    }
}

    /*blocks position*/

.block-product-wrapper{
    .block-product{
        flex-direction: column !important;
        .product-carousel{
            flex-direction: row;
            max-width: 100% !important;
        }
    }
}

.block-product__price-data-wrapper{
    transform: translate(100px, 0px);
}

.block-product__content-wrapper{
    max-width: 100% !important;
    padding-top: 0px !important;
}

/* History Image  */

.block-product__description{
    .subtitle{
        display: flex;
        /* flex-wrap: wrap; */
        column-gap: 30px;
        div{
            max-width: 100px;
            img{
                min-width: 100px;
                max-width: 100px;
            }
        }
        span,
        strong{
            align-self: center;
        }
    }
    ol{
        li{
            p{
                display: inline !important;
            }
        }
    }
}

@media screen and (max-width: 920px){
    /* Product page replacements */
    .block-product__description{
        .subtitle{
            column-gap: 15px;
            div{
                max-width: 60px;
                img{
                    min-width: 60px;
                    max-width: 60px;
                }
            }
        }
    }
    .product-carousel__dots-wrapper{
        display: none !important;
    }
    .block-product-wrapper{
        max-width: 100% !important;
        .block-product{
            .product-carousel{
                flex-direction: column !important;
            }
        }
    }
    .product-carousel__image-wrapper--contain{
        height: auto !important;
    }

    .block-product__price-data-wrapper{
        transform: translate(0px, 0px) !important;
        align-items: center !important;
        margin-top: 30px !important;

        .block-product__subtitle{
            text-align: center;
        }
    }
    .block-product__button-wrapper{
        align-items: center !important;
    }

    /* .block-header-item__item{
        display: flex !important;
    } */
    /*old class of burger*/
    /* .block-header__links{
         right: auto !important; 
        width: 100% !important;

        padding-left: 90px !important;

        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        height: 100vh !important;
        max-height: 100vh !important;
        grid-gap: 20px !important;
    } */
    /*New class for burger menu below*/
    .block-header-layout-mobile__dropdown{
        /* width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        height: 100vh !important;
        max-height: 100vh !important;
        align-items: flex-start !important; */
        padding-left: 35px !important;
        .block-header__nav{
            .block-header__nav-links{
                row-gap: 20px !important;
                /* .block-header-item{
                    align-self: flex-start !important;
                } */
            }
        }
    }
    div.block-header-item__dropdown-area{
        /* margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important; */
        display: block !important; 
    }
    .block-header-item__item[data-qa="navigation-item-товари"]{
        /* margin-bottom: 20px; */
        display: none !important;
    }
    .block-header-item__dropdown{
        align-items: flex-start !important;
        gap: 25px !important;
        margin-top: 0px !important;
        /* .block-header-item:not(:last-child){
            margin-bottom: 20px !important;
        } */
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-left: 0px !important;
    }
    .item-content__icon-container-wrapper{
        display: none;
    }
}


    @media screen and (min-width: 301px) and (max-width: 920px) {
        .block-product-list__content {
            grid-template-columns: repeat(2, 1fr) !important;
            min-width: 300px;
            gap: 10px !important;
        }
        .product-list-item__price-wrapper *,
        .product-list-item__title {
            font-size: 14px !important;
        }
        .product-list-item__button{
            padding: 5px !important;
        }
        .product-list-item__price-wrapper{
            flex-direction: column;
        }
        .product-list-item__price-content{
            justify-content: center;
        }
    }
    @media screen and (max-width: 300px) {
        .block-product-list__content {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }